<% @docs.each do |doc| %>
  <h3> <%= link_to doc.title, doc_path(doc[:id], highlight: locals[:highlight], q: locals[:q]) %> </h3>
  <span><%= link_to "Редактировать", edit_doc_path(doc[:id]) %></span>
  <span><%= link_to "Удалить", doc_path(doc[:id]), method: :delete %></span>
  <div style="margin-bottom: 20px">___________________________________</div>
<% end %>
