<%= form_for(@doc) do |f| %>
  <%= f.label :title %> </br>
  <%= f.text_field :title, style: "width: 850px;" %> </br>
  <%= f.label :url %> </br>
  <%= f.text_field :url, style: "width: 850px;" %> </br>
  <%= f.label :content %> </br>
  <%= f.text_area :content, style: "height: 400px; width: 900px;" %> </br>

  <%= f.submit "Сохранить" %>
<% end %>
