<h1><%= @doc.title %></h1>
<h5><a href=<%= @doc.url %>> <%=@doc.url %></a></h5>

<article>
  <%= @doc.content.gsub("\n", "</br>").html_safe %>
</article>
<span><%= link_to "Редактировать", edit_doc_path(@doc[:id]) %></span>
<span><%= link_to "Удалить", doc_path(@doc[:id]), method: :delete %></span>
