<h1>SearchApp</h1>
<p>
  <%= form_tag search_path, method: :get do %>
  <%= text_field_tag :q %>
  <%= submit_tag "Найти", name: nil %>
  <% end %>
</p>

<%= link_to "Просмотр всех документов", docs_path %>

<%= link_to "Войти в административную панель", admin_root_path, style: "position: fixed; left: 0; bottom: 0" %>
