<h1>Найденные документы</h1>
<%= link_to 'Вернуться на главную', root_path %>

<% if @count > 0 %>
  <h3>Найдено <%= @count %> из <%= @all_count %> по запросу: "<%= params[:q] %>"</h3>
<% else %>
  <h3>К сожалению по запросу: "<%= params[:q] %>" ничего не найдно</h3>
<% end %>

<h3>Время поиска: <%= @search_time %> секунд</h3>

<%= render 'docs/docs', locals: {highlight: 1, q: params[:q]} %>

<%= paginate @docs %>