<h1>Административная панель</h1>

<%= button_to "Построение индекса", { action: "make_index" }, method: :get, class: "class_html", id: "id_html" %>
<%= button_to "Загрузить документы", { action: "crawl_geektimes" }, method: :get, class: "class_html", id: "id_html" %>
<%#= button_to "Сжатие индекса", { action: "zip_index" }, method: :get %>
<%#= button_to "Ранжирование", { action: "ranging" }, method: :get %>
<%#= button_to "Оценка информационного поиска", { action: "evaluation_search" }, method: :get %>
<%#= button_to "Кластеризация документов", { action: "clustering_docs" }, method: :get %>
<%= button_to "На главную страницу", { action: "logout" }, method: :get %>
